        <style>
            body {
                font-family: "Roboto", "Open Sans", sans-serif;
            }
            #hist {
                border: 1.5px dashed gray;
                height: 6.0em;
                overflow-y: scroll;
                resize: vertical;
                min-height: 1.2em;
                max-height: 12.5em;
            }
            #operIn, #calcButton, #resButton, #clearButton {
                cursor: pointer;
            }
        </style>
